---
layout: page
description: "Hello, my Name is LucasGatsas. I'm a UI/UX Designer & Front-End Engineer based in the City of Saint Gallen, Switzerland."
feature: abstract-1.jpg
header-img: 

---

<div class="content">
  {% for post in paginator.posts %}
    <article>
			<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ post.header-img }}')" style="margin-bottom:-40px;" alt="Lucas Gatsas lucas gatsas" title="lucas gatsas Lucas Gatsas">  
				{% if post.image.header-img %}
				<div class="intro-header">
					<a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.baseurl }}/img/{{ post.image.header-img }}" alt="{{ post.title }} Lucas Gatsas lucas gatsas" title="lucas gatsas Lucas Gatsas"></a>
				</div>
				{% endif %}
				<div class="post-meta">
					<span class="entry-date date published updated">
						<time datetime="{{ post.date | date_to_xmlschema }}">
							<a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a>
						</time>
					</span>
					<span class="author vcard">
						<span class="fn">
							<a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a>
						</span>
					</span>
						{% if site.reading_time %}
						<span class="entry-reading-time">
							<i class="fa fa-clock-o"></i>
							{% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
							Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
						</span>
						{% endif %}
				</div>
		
				{% if post.link %}
				<h1 class="post-title" id="post-title-h1"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
				{% else %}
				<h1 class="post-title"><a href="{{ site.url }}{{ post.url }}" id="post-title-h1" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
								<h1 class="post-title-readmore"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url" id="readmore-link"> ReadMore</a></h1>

				{% endif %}
			</header>

    </article>
	<article class="container hentry">
		<div class="entry-content">
			{{ post.content }}
		</div>


		
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'lucasgatsas2015';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		<br>



 <div class="[ col-xs-12 ] meine-visitenkarte"
 style="  background-color: #F7F7F7;
padding-left: 20px;
padding-bottom: 20px;
border-radius: 4px;
padding-top: 20px;
text-align: -webkit-center;
line-height: 30px;
border: 1px solid rgba(0, 0, 0, 0.09);
  ">
	<td colspan="999">
	    <a href="">Lucas Gatsas  </a> 
	    <a href=""><strong>UI/UX Designer & Front-End Engineer</strong> </a> 
		<a class="no-border" href=""><img src="{{ site.baseurl }}/img/zLAW5YPs_400x400.jpg" width="50" height="50" style="border:2px solid #fff;border-radius:5em;margin:0;"></a> 
		<a href="">follow:</a>
		<a href="https://www.github.com/spaceg" target="_blank"><i class="fa fa-github"></i></a> 
		<a href="https://www.twitter.com/LucasGatsas" target="_blank"><i class="fa fa-twitter"></i></a> 
		<a href="https://plus.google.com/101826267816845608605/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
		<a href="https://instagram.com/lucasgatsas/" target="_blank"><i class="fa fa-instagram"></i></a>
	</td>
</div>

	</article>

  {% endfor %}


  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.siteurl }}/">&laquo; Prev</a>
      {% else %}
        <a href="{{ site.siteurl }}/page{{ paginator.previous_page }}/">&laquo; Prev</a>
      {% endif %}    
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% if paginator.next_page %}
      <a class='next' href="{{ site.siteurl }}/page{{ paginator.next_page }}/">Next &raquo;</a>
    {% else %}
      <span class='next'>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>


<script src="{{ site.siteurl }}/js/jquery-1.11.1.js"></script>
<script src="{{ site.siteurl }}/js/jscroll/jquery.jscroll.js"></script>

<script type="text/javascript">
$('.content').jscroll({
    contentSelector: ".content",
    nextSelector: '.next'
});
</script>
