

<footer class="site-footer">
  <div class="footer-top">
    <div class="inner-wide">
      <div class="offsite-links">
        <a href="http://www.twitter.com/" class="icon-twitter"><span class="screen-reader-text">Twitter</span></a>
        <a href="https://www.facebook.com/" class="icon-facebook"><span class="screen-reader-text">Facebook</span></a> 
        <a href="https://plus.google.com/" class="icon-google"><span class="screen-reader-text">Google+</span></a>
        <a href="https://github.com/" class="icon-github"><span class="screen-reader-text">GitHub</span></a>
        <a href="https://medium.com/" class="icon-medium"><span class="screen-reader-text">Medium</span></a>
        <a href="http://instagram.com/" class="icon-instagram"><span class="screen-reader-text">Instagram</span></a>
        <a href="https://www.youtube.com/" class="icon-youtube"><span class="screen-reader-text">YouTube</span></a>
        <a href="http://blog.lucasgatsas.ch/feed.xml" class="icon-feed"><span class="screen-reader-text">RSS</span></a>
      </div>
      <a href="#" class="top-link square icon-chevron-up" title="Back to Top"><span class="screen-reader-text">Back to the top</span></a>
    </div>
  </div>
  <div class="site-info inner-wide">



  <div class="read-more">
     <a href='mailto:{{organiser.email}}?subject=Register interest for {{page.title}} on {{ page.date | date: "%B %-d, %Y" }}&body=Hi! Im interested in your Work. Can we Meet?' class="button light1">Contact Me</a>

            </div><br><br>
    <p>&copy;. 2017 by <a href="{{ site.title }}">   {{ site.title }} <!-- {{ site.description }} --> </a> <br>all rights reserved. <br /> This site is built with <a href="http://rubyonrails.org/" target="_blank"> Ruby on Rails </a>
 </p>   
  </div>
</footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


<script src="/assets/js/plugins-v=cba79c2df0.js"></script>
<script src="/assets/js/html5-v=cba79c2df0.js"></script>
<script src="/assets/js/custom-v=cba79c2df0.js"></script>


