<head>
 <!-- 
      loads the http over https ssl - 
      welcome to my website! 
      follow me at my twitter  
      https://www.twitter.com/LucasGatsas

                                                    --> 

<script type="text/javascript">
var host = "spaceg.github.io";
if ((host == window.location.host) && (window.location.protocol != "https:"))
    window.location.protocol = "https";
</script>
<!--
    <script type="text/javascript">
// jQuery to collapse the navbar on scroll
$(window).scroll(function() {
    if ($(".navbar").offset().top > 50) {
        $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
        $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
});

// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

// Closes the Responsive Menu on Menu Item Click
$('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
});
</script>

-->
<meta name="
    description" content="Gatsas, Lucas Gatsas - Web Developer/ UI/UX Designer, Senior 
    Front End Engineer, Mobile App, Mobile Device, Responsive Mobile App, Web 
    Applications, Web App, iPhone, iPad, App, Responsive, Web, Web Design, Agency 
    for digital communication, St. Gallen, Zuerich, Switzerland, Swiss Web, Swiss 
    App, Swiss, Start Up, Start Ups, Start Up St. Gallen, Start Up Zuerich, Host, 
    Hosting, Web Host, Webspace, Server, Server Architecture, Server Architektur, 
    Server Administration, Server App, GitHub Hosting, Git, Github Social Coding, 
    Code, Coding, Programming, Programmierung, Xml, Xhtml, Html, Html5, Css, Css3, 
    Javascript, js, Jquery, Node.js, Bootsrap Framework, PHP, Mysql, Database, Datenbank, 
    myPHPAdmin, Python, Django Framework, Wordpress CMS, CMS, e-Commerce CMS, Shopify, 
    e - Shop, WebShop, e -mail Newsletter Applications, e -Mail Payment Service, PayPal, 
    Open SLL, SLL, https, AntiVirus
    ">
      <meta name="
    keywords" content="Gatsas, Lucas Gatsas - Web Developer/ UI/UX Designer, Senior 
    Front End Engineer, Mobile App, Mobile Device, Responsive Mobile App, Web 
    Applications, Web App, iPhone, iPad, App, Responsive, Web, Web Design, Agency 
    for digital communication, St. Gallen, Zuerich, Switzerland, Swiss Web, Swiss 
    App, Swiss, Start Up, Start Ups, Start Up St. Gallen, Start Up Zuerich, Host, 
    Hosting, Web Host, Webspace, Server, Server Architecture, Server Architektur, 
    Server Administration, Server App, GitHub Hosting, Git, Github Social Coding, 
    Code, Coding, Programming, Programmierung, Xml, Xhtml, Html, Html5, Css, Css3, 
    Javascript, js, Jquery, Node.js, Bootsrap Framework, PHP, Mysql, Database, Datenbank, 
    myPHPAdmin, Python, Django Framework, Wordpress CMS, CMS, e-Commerce CMS, Shopify, 
    e - Shop, WebShop, e -mail Newsletter Applications, e -Mail Payment Service, PayPal, 
    Open SLL, SLL, https, AntiVirus
    ">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="https://spaceg.github.io/img/favicon-7326478236.png" type="image/x-icon" />
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta property="og:image" content="{{ site.baseurl }}/img/fbmeta324123534t234qt.png"/>
    <meta property="og:title" content="{{ site.description }}"/>
    <meta property="og:site_name" content="{{ site.description }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/spacegstylesheets.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://gist-assets.github.com/assets/embed-b67021dc07195830cc157f7720b938fb.css" rel="stylesheet" type="text/css">
    <style>
    ul, ol {margin-top: 0;margin-bottom: 10px;list-style: none;}
    .navbar-inverse {background-color: #FFF;border-color: #FFFFFF;}
    </style><!-- <link rel="stylesheet" href="{{ "/css/prettify.css" | prepend: site.baseurl }}">--> 
    <style>
    header.intro-header {background: #6f5499;background: no-repeat top center;background-attachment: scroll;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}/* Preloader */
    #preloader {position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff; /* change if the mask should have another color then white */z-index:99; /* makes sure it stays on top */}
    #status {width:200px;height:200px;position:absolute;left:50%; /* centers the loading animation horizontally one the screen */top:50%; /* centers the loading animation vertically one the screen */background-image:url(https://spaceg.github.io/img/hex-loader2.gif); /* path to your loading animation */background-repeat:no-repeat;background-position:center;margin:-100px 0 0 -100px; /* is width and height divided by two */} li {
list-style: none;
}</style>
</head>