<head>

	<!-- Hello World. 
		My Name is Lucas Gatsas
		
		Theme: blog/lucasgatsas.ch
		Theme: by Lucas Gatsas
		copy: by Lucas Gatsas
		Web: www.lucasgatsas.ch
		Fr. 26. Feb. 2016 06:15:13

	-->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/assets/css/style-v=cba79c2df0.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="assets/css/style-v=cba79c2df0.css" />
      <link rel="shortcut icon" href="http://www.lucasgatsas.ch/icon.png">
    <link rel="icon" href="http://www.lucasgatsas.ch/icon.png" type="image/x-icon">
    <!-- Facebook Meta Data -->
<meta property="og:image" content="http://spaceg.github.io/img/Pi2ModB1GB_-comp.jpg"/>
<meta property="og:locality" content="St. Gallen"/>
<meta property="og:country-name" content="Switzerland"/>
<meta property="og:type" content="blog"/>
<meta property="og:title" content="Lucas Gatsas, Front -End Engineer, SYS-Admin & UI/UX Designer from St. Gallen, Switzerland"/>
<meta property="og:url" content="http://spaceg.github.io/"/>
<meta property="og:site_name" content="www.lucasgatsas.ch"/>
<meta name="robots" content="index, follow">
<meta name="robots" content="all">
</head>
