---
layout: default
---



<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')" alt="Lucas Gatsas">
    <div class="container head">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
 <!-- New Adding Front Profile Picture Mo. 6. April 2015 
93TyTG3x.png

<img src="https://pbs.twimg.com/profile_images/598639420363923456/zLAW5YPs_400x400.jpg" style="width:100%" alt="Lucas Gatsas">
--> 
<div class="hero-block">
                <img class="img-circle portfolio-link" src="{{ site.baseurl }}/img/93TyTG3x.png"  href="#portfolioModal1" data-toggle="modal" width="150" height="150" alt="Lucas Gatsas">
              <!--  <p>Hello, I'm Lucas Gatsas and this my New Theme!<br>
              </p>  -->
            </div><br><br>
                    <h1 id="top-title-font-weight-bold">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                <!--    <hr class="small"> -->
                    <span class="subheading" id="textfloat">{{ page.description }}
                       <br> <br>
                        <!-- ///// Fade Out Navbar Profile Picture -///// New Adding Front Profile Picture Mo. 6. April 2015 --> 
                       <!--
 <img src="https://pbs.twimg.com/profile_images/598639420363923456/zLAW5YPs_400x400.jpg" id="small-img-nav" width="40" height="40" class="img-circle" alt="newspace"> -->
                    <i class="fa fa-chevron-down" id="scroll-down"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
  <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {{ content }}

                <hr>
              

            </div>
        </div>
  </div>


<hr>


