---
layout: default
---



<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    <div class="container head">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 id="top-title-font-weight-bold">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                <!--    <hr class="small"> -->
                    <span class="subheading" id="textfloat">{{ page.description }}
                       <br> <br>
                       <!--
 <img src="https://pbs.twimg.com/profile_images/559425037925498880/UL8HyKsM_400x400.jpeg" id="small-img-nav" width="40" height="40" class="img-circle" alt="newspace"> -->

<!--
 <div class="row">
          <div class="col-xs-6 col-md-4"><a class="middle" href="https://twitter.com/LucasGatsas"><img src="https://pbs.twimg.com/profile_images/559425037925498880/UL8HyKsM_400x400.jpeg" id="small-img-middle" width="140" height="140" class="img-circle" alt="newspace-middle"></a></div>
        <div class="col-xs-12 col-md-8">Hello, my Name is @LucasGatsas. I'm a Designer & Front-End Engineer based in the City of Saint Gall, Switzerland. </div>
  
      </div> -->
                    <i class="fa fa-chevron-down" id="scroll-down"></i>
</span>
        
                    
                </div>
            </div>
        </div>
    </div>
</header>
<!--
            <section class="spaceg-beetween">
                    <div class="spaceg-content">
                            <p>Follow me <a href="https://www.twitter.com/@LucasGatsas"><strong> @LucasGatsas</strong></a></p>
                    </div>

            </section> -->


<!-- Main Content -->
<div class="container front-end">
	<div class="row">
		<div class="posts">
			{{ content }}
		</div>
	</div>
</div>

<hr>







